@import '/src/index.scss';

footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 960px;
    margin: 0 auto;

}
footer nav{
    display: flex;
    justify-content: space-evenly;
    
}
footer a{
    display: flex;
    justify-content: center;
    color: $font-gray-color;
}