@import '/src/index.scss';
.profile{
    margin-top: 35px;
    display: flex;
    justify-content: left;
    // max-width: 1280px;
}
.profile .userContent{
    // margin: 0 auto;
    margin-left: 35px;
    
}