.navbar {
  display: flex;
  flex-direction: row;
  @media (max-width: $mantine-breakpoint-lg) {
    flex-direction: column;
    /* width: 450px; */
  }
}

.section {
  @media (max-width: 560px) {
    flex-direction: column;
    align-items: start !important;
  }
}

.subLink {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
}
.btn {
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
  @media (max-width: 560px) {
    margin-top: 30px;
  }
}
.scroll[data-orientation="vertical"] {
  top: 62px;
}
