@import '/src/index.scss';

.searchTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}
.searchTitle .title{
    display: flex;
    flex-direction: column;
    
}
.searchTitle .title p{
    color: $font-gray-color;
}
.searchTitle a{
    display: inline-block; 
    padding: 0.6em 1.2em; 
    background-color: $blue-color; 
    border: 1px solid ; 
    text-decoration: none; 
    color: $bg-color;
    border-radius: 12px;
}
