.subLink {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-md);
}
.select {
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  }
}
.card {
  transition: transform 150ms ease, box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: bold;
}
.bodyText {
  margin-left: rem(7px);
}
