@import "/src/index.scss";

.homePreview {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homePreviewContent {
  max-width: 600px;
}
.homePreviewContent a {
  margin-top: 20px;
  display: inline-block;
  padding: 0.6em 1.2em;
  background-color: rgb(26, 128, 230);
  border: 1px solid;
  text-decoration: none;
  color: rgb(247, 250, 252);
  border-radius: 16px;
}
.homePreviewContent a:hover {
  filter: brightness(90%);
}
.homePreviewContent a:active {
  transform: scale(0.9);
  background-color: darken($blue-color, 5%);
  box-shadow: 0 2px 25px rgba(26, 128, 230, 0.3);
}
.homePreview .slider {
  // max-width: 600px;
}
