header{
    /* background-color: rgba(247, 250, 252, 1); */
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(229, 232, 235, 1);
}
header .logo img{
    max-width: 32px;
    max-height: 32px;
    padding-right: 16px;
}
header .logo{
    display: flex;
    align-items: center;
    
}
header .logo h3{
    font-weight: 700;
    font-size: calc(12px + 6 * (100vw / 1280));
}
header a{
    margin-left: 40px;
    
}
header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin-left: 36px;
    font-size: 14px;
    font-size: calc(10px + 4 * (100vw / 1280));
    font-weight: 500;
}
header nav a:last-child{
    margin-left: 32px;
    margin-right: 40px;
} 