$header-border-color: rgba(229, 232, 235, 1);
$bg-color: rgba(247, 250, 252, 1);
$font-black-color: rgb(13, 20, 28);
$blue-color: #228be6;
$number-font-size: calc(12px + 6 * (100vw / 1280));

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.active {
  color: $blue-color;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $bg-color;
}
::-webkit-scrollbar-thumb {
  background: $blue-color;
  border-radius: 12px;
}
